Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
contrib/Makefile
contrib/Makefile.in
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps
src/Makefile
src/Makefile.in
stamp-*
ydpdict.1
ydpdict.conf
ydpdict.pl.1
src/ydpdict
src/*.o
*~
*.gmo
*.pot
*.tar.gz
