# Ścieżka do plików słownika. Nazwy plików w katalogu MUSZĄ być zapisane
# małymi literami.

Path /usr/local/share/ydpdict

# Ścieżka do katalogów z próbkami dźwiękowymi.

CDPath /mnt/cdrom

# Ścieżka do zewnętrznego programu odtwarzającego próbki dźwiękowe.
# Jeżeli nie jest ustawiona, program próbuje sam odtworzyć próbki.

#Player play
#Player mpg321
#Player ogg123

# Domyślny słownik (0 - angielsko-polski, 1 - polsko-angielski, 
# 2 - niemiecko-polski, 3 - polsko-niemiecki)

DefaultDictionary 0

# Program potrafi wykrywać, czy terminal obsługuje kolory czy nie, ale możliwe
# jest wymuszenie ich wyświetlanie lub brak za pomocą tej opcji.

UseColor On

# Tryb z przezroczystym tłem lub bez.

UseTransparent On

# By zmienić kolory wyświetlanego tekstu należy zmienić poniższe wartości
# na jedne z następujących: Black, Red, Green, Brown, Blue, Magenta, Cyan,
# White, Gray, Yellow, LightRed, LightGreen, LightBlue, LightMagenta,
# LightCyan, LightWhite. Uwaga: dla kolorów z przedrostkiem "Light"
# pogrubienie tekstu nie będzie widoczne.

# Kolor tekstu

Color White

# Kolor definicji

DefinitionColor LightCyan

# Kolor drugiego wyróżnienia (np. część mowy, rodzaj)

InformationColor LightGreen
